.characters-content__character {
    display: flex;
    width: 100%;
    .character_column {
        display: flex;
        flex-direction: column;
    }
    .photo_block {
        flex: 1;
    }
    .information_block {
        flex: 3;
        padding-left: 20px;
        .information_block__text {
            margin-bottom: 10px;
        }
    }
    .text {
        color: #1d1d1d;
        font-size: 16px;
    }
}

.image {
    width: 163px;
    margin-bottom: 10px;
    img {
        width: 100%;
    }
}

.characters-content_section {
    width: 70%;
    display: flex;
    margin-bottom: 2em;
    padding: 20px;
    &.characters-content--active {
        background: #C09F80;
    }
}